<div class="grid-container">
  <h1>Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card *ngIf="card.title===card1" class="dashboard-card scroll">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="rank">
            <app-rank-chart width="400" height="400"></app-rank-chart>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="card.title===card2" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="value-measurement">
            <app-value-measurement-chart width="400" height="400"></app-value-measurement-chart>
        </div>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="card.title===card3" class="dashboard-card scroll">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
          <mat-form-field>
            <mat-select (selectionChange) = "onSelectionchange($event)">
              <mat-option *ngFor= "let alternative of alternatives" [value] = "alternative.id">
                {{alternative.name}}
              </mat-option>
          </mat-select>
           </mat-form-field>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <app-alternatives-form></app-alternatives-form>
        </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>