.form{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .field{
        width: 50%;
    }

    .save-button{
        margin-left: 43%;
    }
}

.table-container{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .table {
      width: 80%;
    }
  }
