<h1 mat-dialog-title>Create Alternative</h1>
<mat-dialog-content>
    <mat-form-field class="dialog-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input required #name="ngModel" matInput [(ngModel)]="form.name" />
        <mat-error appearance="fill"
            *ngIf="(name.invalid && (name.dirty || name.touched) && name.errors?.['required'])">
            Name is required.
        </mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="closeDialog()" cdkFocusInitial>Cancel</button>
    <div *ngIf="loading" class="spinner-container">
        <mat-spinner class="tree-loading" color="primary" diameter="30"></mat-spinner>
    </div>
    <button *ngIf="!loading" mat-button (click)="doAction()" [disabled]="!form.name">Save</button>
</mat-dialog-actions>