.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    .input{
        width: 80%
    }
    .button{
        margin-bottom: 0.7rem;
        margin-left: 0.7rem;
    }
}

