@import 'src/styles/colors';

.chart{
    position: relative;
}

//Used to change bar chart color based on material theme.
//However, this requires AfterViewInit, which causes a delay
//funky delay between the chart being made and the chart being
//ready. We are using the rgb hard-coded values instead for now.
.mat-primary{
    color: map-get($primary, 500);
}
.mat-accent{
    color: map-get($accent, 100);
}
.mat-hover{
    color: map-get($background, 400);
}