<div class="tree">
    <div *ngFor="let level of hierarchyLevels; index as i" class="node-container">
        <div id="{{i}}{{j}}" class="node" *ngFor="let node of level; index as j" #nodes>
            <mat-card [ngClass]="{'measurement-node': node.measurementNode}">
                <mat-card-header>
                    <mat-card-title *ngIf="node.name.length > 27"
                        matTooltip="{{node.name}}">
                        {{(node.name | slice:0:27) +'...'}}
                    </mat-card-title>
                    <mat-card-title *ngIf="node.name.length <= 27">
                        {{node.name}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <div *ngIf="node?.weight" class="text">
                        Weight: {{node.weight}}
                    </div>
                    <button class="measurement-node-delete" *ngIf="node.measurementNode" mat-button (click)="openDeleteNodeDialog(node.id)">Delete</button>
                </mat-card-content>
                <mat-card-actions>
                    <button *ngIf="!node.measurementNode" mat-button (click)="openAddNodeDialog(node.id)">Add</button>
                    <button *ngIf="!node.measurementNode" mat-button (click)="openDeleteNodeDialog(node.id)">Delete</button>
                    <button *ngIf="canBeWeighted(node)"  
                        mat-button
                        matTooltip="Weights"
                        [routerLink]="['/weights', node.id]"
                        class="button">
                        <mat-icon color="accent">balance</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<svg class="svg" [attr.width]="viewBoxWidth" [attr.height]="viewBoxHeight" #svg></svg>
