<h1 mat-dialog-title>{{existingNode ? "Edit" : "Add"}} Node</h1>
<mat-dialog-content>
    <form #addNodeForm="ngForm">
        <div class="column">
                <mat-form-field class="dialog-full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input required #name="ngModel" matInput [(ngModel)]="form.name" name="name" />
                    <mat-error appearance="fill"
                        *ngIf="(name.invalid && (name.dirty || name.touched) && name.errors?.['required'])">
                        Name is required.
                    </mat-error>
                </mat-form-field>
            <div class="row">
                <mat-form-field>
                    <mat-label>Measurement Type</mat-label>
                    <mat-select #measurementType="ngModel" [(ngModel)]="form.measurementType" name="measurementType" [required]="form.isMeasurement" [disabled]="!form.isMeasurement">
                        <mat-option *ngFor="let type of measurementTypes" [value]="type">{{type}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-checkbox class="checkbox" #isMeasurement="ngModel" [(ngModel)]="form.isMeasurement" name="isMeasurement" (change)="setMeasurementType()">Measurement</mat-checkbox>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="point-x" [hideRequiredMarker]="!form.isMeasurement">
                    <mat-label>X1 (Measure)</mat-label>
                    <input #x1="ngModel" matInput [(ngModel)]="form.point1.x" name="x1" type="number" [required]="form.isMeasurement" [disabled]="!form.isMeasurement"/>
                    <mat-error appearance="fill"
                        *ngIf="(x1.invalid && (x1.dirty || x1.touched) && x1.errors?.['required'])">
                    X1 is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" [hideRequiredMarker]="!form.isMeasurement">
                    <mat-label>Y1 (Value)</mat-label>
                    <input #y1="ngModel" matInput [(ngModel)]="form.point1.y" name="y1" type="number" [required]="form.isMeasurement" [disabled]="!form.isMeasurement" min="0" max="1"/>
                    <mat-error appearance="fill"
                        *ngIf="(y1.invalid && (y1.dirty || y1.touched) && y1.errors?.['required'])">
                    Y1 is required.
                    </mat-error>
                    <mat-error appearance="fill"
                        *ngIf="(y1.invalid && (y1.dirty || y1.touched) && (y1.errors?.['min'] || y1.errors?.['max'])) && !y1.errors?.['required']">
                        Values must be between 1-0.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="point-x" [hideRequiredMarker]="!form.isMeasurement">
                    <mat-label>X2 (Measure)</mat-label>
                    <input #x2="ngModel" matInput [(ngModel)]="form.point2.x" name="x2" type="number" [required]="form.isMeasurement" [disabled]="!form.isMeasurement"/>
                    <mat-error appearance="fill"
                        *ngIf="(x2.invalid && (x2.dirty || x2.touched) && x2.errors?.['required'])">
                        X2 is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" [hideRequiredMarker]="!form.isMeasurement">
                    <mat-label>Y2 (Value)</mat-label>
                    <input #y2="ngModel" matInput [(ngModel)]="form.point2.y"  name="y2" type="number" [required]="form.isMeasurement" [disabled]="!form.isMeasurement" min="0" max="1"/>
                    <mat-error appearance="fill"
                        *ngIf="(y2.invalid && (y2.dirty || y2.touched) && y2.errors?.['required'])">
                        Y2 is required.
                    </mat-error>
                    <mat-error appearance="fill"
                        *ngIf="(y2.invalid && (y2.dirty || y2.touched) && (y2.errors?.['min'] || y2.errors?.['max'])) && !y2.errors?.['required']">
                        Values must be between 1-0.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="closeDialog()" cdkFocusInitial>Cancel</button>
    <div *ngIf="loading" class="spinner-container">
        <mat-spinner class="tree-loading" color="primary" diameter="30"></mat-spinner>
    </div>
    <button *ngIf="!loading" mat-button (click)="onSubmit()" [disabled]="!addNodeForm.form.valid && !loading">{{existingNode ? "Edit" : "Add"}}</button>
</mat-dialog-actions> 
