.column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.row{
    display: flex;
    align-items: center;
    flex-direction: row;
    .checkbox {
        margin-left: 2rem;
    }
    .point-x{
        margin-right: 1rem;
    }
}

.hidden{
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.spinner-container{
    margin-left: 1.5rem;
}