<form>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Public Safety
                </mat-panel-title>
                <mat-icon class="panel-icon">security</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field 
                matTooltip="Info about the action" 
                matTooltipShowDelay="500" 
                class="full-width"
                appearance="fill">
            <mat-label>Freedom From Terror</mat-label>
            <input matInput placeholder="# of Terror Attacks">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
            <mat-label>Secure Bus and Travel</mat-label>
            <input matInput placeholder="% of People">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Participation</mat-label>
                <input matInput placeholder="Women Vote">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Minimum Extremist Threat
                </mat-panel-title>
                <mat-icon class="panel-icon">warning</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>DDR</mat-label>
                <input matInput placeholder="# of People">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Gauge Pub Supp</mat-label>
                <input matInput placeholder="% of Support">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Narrative Shaping</mat-label>
                <input matInput placeholder="Optimistic Outlook">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Military Capacity
                </mat-panel-title>
                <mat-icon class="panel-icon">flag</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Equipment & Infrastructure</mat-label>
                <input matInput placeholder="International Trainers">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Mil Personnel</mat-label>
                <input matInput placeholder="Spending Budget">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Hybrid Warfare</mat-label>
                <input matInput placeholder="Badal">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Judicial System
                </mat-panel-title>
                <mat-icon class="panel-icon">gavel</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Defining Law</mat-label>
                <input matInput placeholder="Constitution">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Establishing Courts</mat-label>
                <input matInput placeholder="Faith in Courts">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Trg Personnel</mat-label>
                <input matInput placeholder="Resolution Time">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Law Enforcement
                </mat-panel-title>
                <mat-icon class="panel-icon">people</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Infrastructure</mat-label>
                <input matInput placeholder="Comprehensive Plan">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Interim Solution</mat-label>
                <input matInput placeholder="Opinion Poll">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Indigenous Cap</mat-label>
                <input matInput placeholder="Crime Rate">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Correction Systems
                </mat-panel-title>
                <mat-icon class="panel-icon">location_city</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Infrastructure</mat-label>
                <input matInput placeholder="Prison capacity">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Personnel</mat-label>
                <input matInput placeholder="Manning Level">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Accountability
                </mat-panel-title>
                <mat-icon class="panel-icon">pan_tool</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Laws</mat-label>
                <input matInput placeholder="Accountability Laws">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Courts</mat-label>
                <input matInput placeholder="Accountabilty Courts">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Economic Development
                    </mat-panel-title>
                    <mat-icon class="panel-icon">attach_money</mat-icon>
                </mat-expansion-panel-header>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Policy Drafting</mat-label>
                    <input matInput placeholder="Official Policy">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Macro economic growth</mat-label>
                    <input matInput placeholder="GDP Growth">
                </mat-form-field>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Market Economy
                        </mat-panel-title>
                        <mat-icon class="panel-icon">work</mat-icon>
                    </mat-expansion-panel-header>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>International trade</mat-label>
                        <input matInput placeholder="Fertilizer imports">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Private sector</mat-label>
                        <input matInput placeholder="Agriculture Exports">
                    </mat-form-field>
                </mat-expansion-panel>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Economic Crime
                </mat-panel-title>
                <mat-icon class="panel-icon">money_off</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Grey economy</mat-label>
                <input matInput placeholder="Opium production by area (hectares)">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Black Economy</mat-label>
                <input matInput placeholder="Child labor 12-14 yrs">
            </mat-form-field>  
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Economic Aid
                </mat-panel-title>
                <mat-icon class="panel-icon">local_hospital</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>International loans</mat-label>
                <input matInput placeholder="Foreign Debt (Percentage of GDP)">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Grants</mat-label>
                <input matInput placeholder="Foreign Aid in USD (Billions)">
            </mat-form-field>  
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Policy
                </mat-panel-title>
                <mat-icon class="panel-icon">description</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Modified Syllabus</mat-label>
                <input matInput placeholder="Curriculum">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Incentives</mat-label>
                <input matInput placeholder="Percentage of Child labor">
            </mat-form-field>  
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Education Infrastructure
                </mat-panel-title>
                <mat-icon class="panel-icon">school</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Schools</mat-label>
                <input matInput placeholder="Percentage Enrollment Boys Rural">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Schools</mat-label>
                <input matInput placeholder="Percentage Enrollment (Girls in Rural Areas)">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Professional Institutions</mat-label>
                <input matInput placeholder="Training per Thousand">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Professional Institutions</mat-label>
                <input matInput placeholder="Number of Universities">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Trainers</mat-label>
                <input matInput placeholder="Student Teacher Ratio">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Relieve Suffering
                </mat-panel-title>
                <mat-icon class="panel-icon">healing</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Water</mat-label>
                <input matInput placeholder="Availibity of Clean Water ">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Food</mat-label>
                <input matInput placeholder="Percentage of People Below Poverty ">
            </mat-form-field>  
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Shelter</mat-label>
                <input matInput placeholder="Number of IDPs (Millions)">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sustaining Life
                </mat-panel-title>
                <mat-icon class="panel-icon">nature_people</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Medical</mat-label>
                <input matInput placeholder="Doctors/1000">
            </mat-form-field>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Utilities
                    </mat-panel-title>
                    <mat-icon class="panel-icon">flash_on</mat-icon>
                </mat-expansion-panel-header>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Power</mat-label>
                    <input matInput placeholder="Percentage with access to electricity">
                </mat-form-field>  
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Communications</mat-label>
                    <input matInput placeholder="Percentage of Access to Mobiles">
                </mat-form-field>
            </mat-expansion-panel>
        </mat-expansion-panel>
    </mat-accordion>
</form>