<div class="header-container">
    <mat-form-field class="select" appearance="outline" *ngIf="hierarchies$ | async as hierarchies">
        <mat-select [value]="selectedHierarchy?.id ?? ' '" (selectionChange)="onSelect($event)">
            <mat-option *ngFor="let hierarchy of hierarchies" [value]="hierarchy.id">{{ hierarchy.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-icon *ngIf="hierarchyDescription" [matTooltip]="hierarchyDescription">info</mat-icon> 

    <button mat-raised-button color="accent" (click)="createHierarchyDialog()" class="header-button">
        <mat-icon>add</mat-icon>
        Create Hierarchy
    </button>

    <ng-container *ngIf="selectedHierarchy">
        <button mat-raised-button color="warn" class="header-button" (click)="deleteHierarchyDialog()">
            <mat-icon>delete</mat-icon>
            Delete Hierarchy
        </button>
    </ng-container>

    <button mat-raised-button color="accent" class="header-button" (click)="importExportHierarchyDialog()">
        <mat-icon>import_export</mat-icon>
        Import/Export Hierarchy
    </button>

</div>
<ng-template #treeContainer></ng-template>
<ng-container *ngIf="hierarchies$ | async as hierarchies">
    <div *ngIf="!tree && hierarchies.length > 0" class="spinner-container">
        <mat-spinner color="primary"></mat-spinner>
    </div>
</ng-container>
<ng-container *ngIf="hierarchies$ | async as hierarchies">
    <ng-container *ngIf="hierarchies.length === 0">
        <div class="welcome">
            <h1 class="title">Welcome to Hierarchy Dashboard</h1>
            <h3>Get started by creating a new hierarchy</h3>
        </div>
    </ng-container>
</ng-container>