@import 'src/styles/colors';
.node-container{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;    

    .node{
        position: relative;
        margin: auto;
        padding: 1rem;
        height: 8rem;
        width: max-content;

        .measurement-node{
            background-color: map-get($primary, 300);;
            border-radius: 50px;
        }
    }
}

.tree{
    position: absolute;
}

.svg{
    position: absolute;
    z-index: -1;
}

.text{
    margin-left: 1rem;
}