<div class="tree">
    <div class="node-container">
        <div id="topLevel" class="node" #nodes>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Top Value
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div class="text">
                        Weight: 1.000
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Add</button>
                    <button mat-button>Delete</button>
                    <button mat-button *ngIf="hierarchyLevels.length > 0" 
                        matTooltip="Weights"
                        [routerLink]="['/weights', 'topLevel']"
                        class="button">
                        <mat-icon color="accent">balance</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div *ngFor="let level of hierarchyLevels; index as i" class="node-container">
        <div id="{{i}}{{j}}" class="node" *ngFor="let node of level; index as j" #nodes>
            <mat-card [ngClass]="{'measurement-node': node.measurementNode}">
                <mat-card-header>
                    <mat-card-title *ngIf="node.name.length > 27"
                        matTooltip="{{node.name}}">
                        {{(node.name | slice:0:27) +'...'}}
                    </mat-card-title>
                    <mat-card-title *ngIf="node.name.length <= 27">
                        {{node.name}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div *ngIf="node?.weight" class="text">
                        Weight: {{node.weight}}
                    </div>
                </mat-card-content>
                <mat-card-actions *ngIf="!node.measurementNode">
                    <button mat-button>Add</button>
                    <button mat-button>Delete</button>
                    <button mat-button *ngIf="canBeWeighted(node)" 
                        matTooltip="Weights"
                        [routerLink]="['/weights', node.id]"
                        class="button">
                        <mat-icon color="accent">balance</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<svg class="svg" [attr.width]="viewBoxWidth" [attr.height]="viewBoxHeight" #svg></svg>
