@import 'src/styles/colors';

.header-container{
    display: flex;
    align-items: left;
    flex-direction: row;
    margin-top: 1rem;

    .select{
        font-size: x-large;
        text-align: center;
        margin-left: 1rem;
        width: 30%;
    }
    .header-button{
        margin-left: 1rem;
        margin-top: 2rem;
        height: 50%;
    }
}