mat-card{
    max-width: 400px;
}

mat-list{
    display: flex;
    align-items: center;
    padding-bottom: 10rem;
}

.node-container{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;    

    .node{
        position: relative;
        margin:auto;
        padding: 1rem;
        height: max-content;
        width: max-content;
    }
}

.align{
    margin: auto;
}

.tree{
    position: absolute;
}

.svg{
    position: absolute;
    z-index: -1;
}